table {
    border: 1px solid;
    width: 90%;
    margin-left: 50px;

}

.t2 {
    padding-bottom: 4%;
}

.ex_pro {
    margin-top: 40px;
}

.t3 {
    padding-bottom: 4%;
}

.inf {
    margin-top: 40px;
}

.last {
    margin-top: 40px;
}

.t4 {
    padding-bottom: 4%;
}

.comp {
    margin-top: 40px;
}